<ion-content [fullscreen]="true">

  <div class="hero-banner">
    
    <div class="nav-bar-overlay">
      <div class="logo">LocateMe</div> 
      <div class="auth-buttons">...</div>
    </div>
    
    <div class="hero-content">
      <h1>Descubra seu próximo destino</h1>
      <p>Explore os destinos mais populares, conheça e vivencie novas experiências de maneira sustentável.</p>

      <div class="search-box-container">
        <ion-searchbar placeholder="O que você procura?"></ion-searchbar>
        <ion-button color="success" class="search-button">Search</ion-button>
      </div>
      
      <div class="category-buttons">
        <ion-button fill="outline" shape="round" color="light" class="category-btn">Bares</ion-button>
        <ion-button fill="outline" shape="round" color="light" class="category-btn">Shows</ion-button>
        <ion-button fill="outline" shape="round" color="light" class="category-btn">Museus</ion-button>
      </div>
    </div>
  </div>
  
  <div class="event-results-section">

    //diretiva If
    <div *ngIf="isLoading" class="loading-state">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Buscando eventos...</p>
    </div>
    
    <div *ngIf="!isLoading && events && events.length === 0" class="empty-state">
      <p>Nenhum evento encontrado.</p>
    </div>
    
    <ion-list *ngIf="!isLoading && events && events.length > 0" class="event-list-container">
      <h2>Eventos Próximos</h2>
      
      <ion-card class="event-card" appHoverHighlight>
        <div class="card-image-box">
          <img src="" alt="Imagem do Evento">
        </div>
        <ion-card-header>
          <ion-card-title>Nome do Evento</ion-card-title>
          <ion-card-subtitle>Local • Data</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      
    </ion-list>
  </div>
</ion-content>